<%= form_for topic, html: {class: "row"} do |f| %>
  <% if topic.errors.any? %>
  <div class="alert alert-danger text-xs-left">
    <h4><%= pluralize(topic.errors.count, "error") %>.</h4>
    <ul>
      <% topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_group_tag(topic.errors[:title]) do  %>
      <%= f.label :title, class: 'col-sm-2 col-md-4 form-control-label text-xs-left' %>
      <div class="col-sm-10 col-md-8">
        <%= f.text_field :title, autofocus: true, class: " col-sm-8 form-control #{add_error_tag if topic.errors.any?}", placeholder: "Enter name" %> 
      </div> 
  <% end %>         
  <div class="form-group row has-error">
    <div class="col-sm-4 col-sm-push-8 text-xs-right">
      <%= f.submit "Create", class: 'btn btn-primary-outline btn-block' %>
    </div>
  </div>
<% end %>