<%= content_tag :div, class: 'row', id: "topic-#{topic.id}" do %>
  <div class="media text-xs-left">
    <div class="media-body">
      <div class="row">
        <h5 class="media-heading pull-left"><%= link_to "##{topic.title}", topic %><h5>
        <div class="pull-right">
          <%= link_to topic, html_options = { method: :delete, "data-toggle":"tooltip", "data-placement": "top", title: "Remove Topic", class: "btn-sm btn-danger-outline"}  do %>
            <span class="fa fa-times"></span>
          <% end %>
        </div>
        <div class="pull-right">
          <%= link_to edit_topic_path(topic), html_options = {"data-toggle":"tooltip", "data-placement": "top", title: "Edit Topic", class: "btn-sm  btn-primary-outline"}  do %>
            <span class="fa fa-pencil"></span>
          <% end %>
        </div>
      </div>
      <div class="row bookmark-border">
        <%= render partial: "topics/bookmark", collection: topic.bookmarks.limit(5).order("RANDOM()") %>
      </div>
    </div>
  </div> 
<% end %>
<hr>