<div class="row">
  <h1 class="pull-left">All topics</h1>
  <div class="pull-right">
    <%= link_to new_topic_path, html_options = {"data-toggle":"tooltip", "data-placement": "top", title: "New topic", class: "btn btn-primary-outline fn-btn"}  do %>
      <sapan class="fa fa-plus"></span>
    <% end %>
  </div>
</div>

<%= @topics.each do |topic| %>
  <div class="row">
     <div class="media text-xs-left">
      <div class="media-body">
        <h5 class="media-heading pull-left"><%= link_to "##{topic.title}", topic %><h5>
        <div class="pull-right">
          <%= link_to edit_topic_path(topic), html_options = {"data-toggle":"tooltip", "data-placement": "top", title: "New topic", class: "btn-sm  btn-primary-outline"}  do %>
            <sapan class="fa fa-pencil"></span>
          <% end %>
        </div>
        <div class="pull-right">
          <%= link_to topic, html_options = { method: :delete, "data-toggle":"tooltip", "data-placement": "top", title: "New topic", class: "btn-sm btn-danger-outline"}  do %>
            <sapan class="fa fa-times"></span>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
  <hr>
<% end %>
