<!DOCTYPE html>
<html>
  <head>
    <title>Blocmarks</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-expanded="false">
            ☰
        </button>
        <a class="navbar-brand" href="#first"><span class="mega-octicon octicon-bookmark"></span> Blocmarks</a>
        <div class="navbar-toggleable-sm collapse" id="collapsingNavbar" aria-expanded="false" style="height: 0px;">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", root_path, html_options = {class: "nav-link page-scroll"} %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, html_options = {class: "nav-link page-scroll"} %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="inner-body">
      <%= yield %>
    </div>
  </body>
</html>
